li
  a.nav-item(href="index.pug") 
    .ml-2 Home
li
  a.nav-item(href="#") 
    .ml-2 Program Structure 
  ul 
    li
      a(href="innovationlab.pug") Innovation Lab
    li
      a(href="startupstudio.pug") Startup Studio
    li
      a(href="businesslabs.pug") Business Lab
    li
      a(href="investorcorner.pug") Investment Corridor

li
  a.nav-item(href="https://rink.startupmission.in/registration/signup/" target="_blank") 
    .ml-2 Register
      .badge New
li
  a.nav-item(href="https://rink.startupmission.in/accounts/" target="_blank") 
    .ml-2 Login