mixin benefit(title, content, icon, id, checked=false)
  .benefit.mb-4
    input(type="radio" name="ben" id=id checked=checked)
    label(for=id)
      ion-icon(name=icon)
      = title 
    .content= content

mixin header-grid(icon, title, content, link)
  a.grid-item(href=link)
    ion-icon(name=icon)
    h3= title
    p= content

mixin accordion(id, title, checked=false)
  .accordion
    input(type="radio" name="ben" id=id checked=checked)
    label(for=id)= title
    .content
      block

mixin pgs()
  section.section-content.other
    h2.text-center.text-white.mb-4 Programme Structure
    .container 
      .grid
        +header-grid("flask-outline", "Innovation Lab", "Facilitate the transfer of new technologies and innovations", "innovationlab.pug")
        +header-grid("rocket-outline", "Startup Studio", "Enable the development of Technology Startups", "startupstudio.pug")
        +header-grid("bar-chart-outline", "Business Lab", "Forging Industry Partnerships", "businesslabs.pug")
        +header-grid("cash-outline", "Investment Corridor", "Provide access to Investment Opportunities", "investorcorner.pug")
