@import '_mixins';
#video-slider {
  height: 80vh;
  position: relative;
}

#header-section {
  height: 70vh;
  background-image: url('../images/header1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  .overlay {
    width: 100%;
    height: 100%;
    // background: #00000066;
    // backdrop-filter: blur(4px);
    position: absolute;
  }
  .info-container {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(1, 1, 54);
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
    padding-left: 5rem;
    @include my_bp(sm) {
      align-items: flex-start;
    }
    h1 {
      font-size: 4rem;
      text-shadow: 2px 2px 10px rgba(255, 255, 255, 1);
    }
  }
}

.benefit {
  // overflow: hidden;
  label {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    ion-icon {
      color: #ffc451;
      font-size: 3rem;
      margin-right: .5rem;
    }
    &::after {
      content: "+";
      margin-left: auto;
    }
  }
  .content {
    max-height: 0;
    opacity: 0;
    transition: all 200ms;
    text-align: justify;
    margin-left: 3.5rem;
    margin-top: -.7rem;
  }
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    &:checked {
      ~.content {
        max-height: 100vh;
        opacity: 1;
      }
      ~label {
        align-items: flex-start;
        &:after {
          content: "-";
        }
      }
    }
  }
}

.stakes {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  flex-wrap: wrap;
  gap: .5rem;
  .stake {
    width: 45%;
    padding: 2rem 1rem;
    background-color: rgb(1, 1, 54);
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 500ms ease;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
    @include my_bp(sm) {
      width: 19%;
    }
    &:hover {
      transform: translate(5px, -5px);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    }
    ion-icon {
      font-size: 3rem;
      color: #ffc451;
      margin-bottom: 1rem;
    }
    p {
      margin: 0;
    }
  }
}