@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;900&family=Poppins:wght@200;400;600;700&display=swap');
@import "~bootstrap/scss/bootstrap";
@import './mixins';
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

h1,
h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

h3,
h5 {
  font-family: 'Poppins', sans-serif;
}

#ksum-footer {
  background: #222229;
  color: #dbdbdb;
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  @include my_bp(sm) {
    flex-direction: row;
  }
  .left {
    text-align: center;
    @include my_bp(sm) {
      width: 35%;
    }
    p {
      margin: 0;
    }
    .phone {
      font-size: 2rem;
      font-weight: 600;
      color: white;
      svg {
        width: 2rem;
        height: 2rem;
        margin-right: .5rem;
        color: #3fafef;
      }
    }
  }
  .right {
    @include my_bp(sm) {
      width: 35%;
    }
    p {
      margin: 0;
    }
  }
}

#ksum-copy {
  background: #1c1c21;
  color: #b1b1b1;
  padding: 20px 0;
  text-align: center;
}

.section-content {
  padding-top: 80px;
  padding-bottom: 80px;
  &.alter {
    background-color: #fafafa;
  }
  &.other {
    background-color: rgb(1, 1, 54);
  }
}

#footer {
  background: #e22295;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.text-justify {
  text-align: justify;
}

.subhead {
  font-size: 1rem;
  color: #aaaaaa;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  &::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 1px;
    background-color: #ffc451;
    margin-left: .5rem;
  }
}

.grid {
  display: flex;
  width: 95vw;
  // margin-top: 2rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
  @include my_bp(sm) {
    width: 100%;
  }
  .grid-item {
    width: 50%;
    border: 2px solid #ebebeb;
    padding: 2rem 1rem;
    transition: all 500ms ease;
    // background-color: #000000;
    // color: #000022;
    color: white;
    text-decoration: none;
    text-align: center;
    // box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
    @include my_bp(sm) {
      width: 24%;
    }
    &:hover {
      box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
      transform: translate(0px, -5px);
    }
    ion-icon {
      font-size: 64px;
      color: #ffc451;
    }
    h3 {
      font-size: 1.2rem;
      font-weight: 700;
      // color: #ffc451;
    }
    p {
      font-size: .9rem;
      margin: 0;
    }
  }
}