@import './mixins';
#navbar {
  // padding: 1rem 0 1rem 0;
  z-index: 10;
  // background: #ffffff;
  // background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  background-color: #000000;
  @include my_bp(md) {
    position: absolute;
    // padding: 1rem 0 1rem 0;
    background-color: #ffffff;
  }
  &.open {
    .menu {
      transform: translateX(0);
    }
  }
  .logo {
    height: 100px;
    width: 400px;
    background-image: url('../images/rink_logo_white.svg');
    background-repeat: no-repeat;
    background-size: contain;
    @include my_bp(sm) {
      background-image: url('../images/rink_logo.svg');
    }
  }
  .menu {
    display: block;
    background: #040e26;
    // margin: 0 auto;
    // border-bottom: 3px solid #00afef;
    margin-left: auto;
    margin-right: 10%;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    transition: all 500ms ease-in-out;
    transform: translateX(-100%);
    transform-origin: left center;
    .logo {
      display: none;
    }
    @include my_bp(md) {
      position: relative;
      width: auto;
      left: 10%;
      top: auto;
      height: auto;
      transform: scaleX(1);
      background: transparent;
      display: flex;
      align-items: center;
      &.sticky {
        background: #000000;
        position: fixed;
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        display: flex;
        // padding: 1rem 0;
        a {
          color: white;
        }
        .logo {
          display: block;
          background-image: url('../images/rink_logo_white.svg');
          // padding: 0 4rem;
          margin-left: 4rem;
          height: 75px;
        }
        ul {
          margin-left: auto;
          margin-right: 3rem;
        }
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      @include my_bp(md) {
        flex-direction: row;
      }
      li {
        position: relative;
        &:hover {
          &:before {
            transform: scaleY(1);
          }
          a {
            color: #00afef;
          }
          ul {
            display: block;
            opacity: 1;
            li {
              a {
                color: white;
              }
            }
          }
        }
        &:before {
          content: '';
          display: block;
          width: 100%;
          height: 10%;
          background: #00afef;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: all 200ms ease-in;
          transform: scaleY(0);
          transform-origin: bottom;
        }
        a {
          display: block;
          padding: .75rem 1.5rem;
          font-size: 1.1rem;
          font-weight: 600;
          color: white;
          text-decoration: none;
          position: relative;
          transition: all 500ms ease;
          @include my_bp(sm) {
            color: #040e26;
          }
        }
        ul {
          position: fixed;
          display: none;
          flex-direction: column;
          width: 250px;
          background: #040e26;
          margin-left: -10px;
          opacity: 0;
          z-index: 5;
          transition: all 1s ease-in-out;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          @include my_bp(sm) {
            // margin-left: -70px;
          }
        }
      }
    }
  }
  .badge {
    background-color: red;
    color: white;
    font-size: .75rem;
    padding: .25rem;
    transform: translateY(-10px) translateX(5px);
  }
}

.hamburger-menu {
  position: fixed;
  right: 20px;
  width: 100%;
  max-width: 24px;
  height: 22px;
  margin-left: auto;
  transition: .5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ea0763;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    transition: .25s ease-in-out;
    &:nth-child(1) {
      top: 2px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      top: 10px;
    }
    &:nth-child(4) {
      top: 18px;
    }
  }
  &.open span {
    &:nth-child(1) {
      top: 18px;
      width: 0;
      left: 50%;
    }
    &:nth-child(2) {
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
    }
    &:nth-child(4) {
      top: 18px;
      width: 0;
      left: 50%;
    }
  }
}

#prenav {
  background: #040e26;
  padding: .5rem 0;
  color: #999;
  display: none;
  @include my_bp(md) {
    display: block;
  }
  .button {
    background: #00afef;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    transition: all 500ms ease;
    display: block;
    width: 150px;
    text-align: center;
    margin: 0 auto;
    &:hover {
      transform: translateX(10px);
    }
  }
}