@import '_mixins';
#header-section {
  height: 40vh;
  background-image: url('../images/page-header1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  .overlay {
    width: 100%;
    height: 100%;
    // background: #00000066;
    // backdrop-filter: blur(4px);
    position: absolute;
  }
  .info-container {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    h1 {
      font-size: 4rem;
      text-transform: uppercase;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, .6);
    }
  }
}

.grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .item {
    width: 40%;
    background-color: rgb(1, 1, 54);
    color: white;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include my_bp(sm) {
      width: 21%;
    }
    h4 {
      font-size: 1rem;
      font-weight: 700;
      color: #ffc451;
    }
    p {
      font-weight: .9rem;
      margin: 0;
    }
  }
}

.accordion-container {
  position: relative;
  .accordion {
    label {
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 1rem;
      text-transform: uppercase;
      cursor: pointer;
      background-color: rgb(1, 1, 54);
      padding: 1rem 2rem;
      transition: all 500ms ease;
      color: white;
      @include my_bp(sm) {
        width: 35vw;
      }
      &::after {
        content: "+";
        margin-left: auto;
      }
      &:hover {
        // transform: translateX(1rem);
        background-color: lighten(rgb(1, 1, 54), 10);
      }
    }
    .content {
      max-height: 0;
      opacity: 0;
      transition: all 200ms;
      text-align: justify;
      padding: 0 1rem;
      height: 100%;
      overflow: scroll;
      @include my_bp(sm) {
        margin-left: 1rem;
        position: absolute;
        top: 0;
        left: 35vw;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
        padding: 2rem;
      }
    }
    input {
      position: absolute;
      opacity: 0;
      z-index: -1;
      &:checked {
        ~.content {
          max-height: 100vh;
          opacity: 1;
        }
        ~label {
          align-items: flex-start;
          transform: translateX(1rem);
          color: #ffc451;
          &:after {
            content: "-";
          }
        }
      }
    }
  }
}