extend layouts/default.pug

block head
  link(rel="stylesheet" href="./style/page.scss")

include layouts/partials/mixins.pug

block page
  section#header-section
    .overlay
    .info-container 
      h1 Program Structure
    
  section.section-content#businesslabs
    .container.text-justify
      h2 Business Labs
      .subhead Opportunities for Partnership
      p Access to Researchers and Innovators and state of the art educational and research facilities in the leading research institutions offers many opportunities for your organization to partner with us.

      .accordion-container
        +accordion("ch1", "SPONSOR RESEARCH", true)
          | RINK offers an extensive range of opportunities to our Industry partners to connect with researchers and innovators working with leading Research institutions in the State to drive innovation and economic impact. Designated officials will work with you to tailor your connection to best meet your research needs.
        +accordion("ch2", "ACCESS INNOVATION")
          | "Rink being an exclusive digital platform for Researchers and innovators, brings together researchers, faculty and innovators working in all leading Research Institutions in the State. RINK provides access to a large repository of innovative knowledge and products developed at various research institutions. SAMRAMB allows you to carryout an independent search by name or area.
        +accordion("ch3", "ACCESS TO BUSINESS SERVICES AND FACILITIES")
          p Research Institutions and Universities in the state have built state of art facilities over the years. One of the core objectives of RINK platform is to open the facilities setup at Research Institutions to Industry and Startup and thereby ensure optimal utilisations of public resources. Research Institutions and Universities will provide access to technologies, training and other high-quality technical services delivered by expert faculty on a fee basis.
          p Industry and Startup can identify suitable facilities or services by making an independent search in the shared Business service category on RINK platform. We encourage Industry to add their resources, services and facilities in the shared resource category so that Researchers and Innovators may also get opportunity to avail these facilities to further advance research in their chosen category.
          p Industry and Startup will also get access to technical workshops, seminars etc. If you have any queries or comments or want to know more, please do get in touch with our dedicated officials.
        +accordion("ch4", "CONNECT WITH EXPERTS")
          | Presence of Research Institutions in different discipline makes State of Kerala home to hundreds of brilliant minds working in Science and Technology spectrum. RINK offer access to an exclusive database of Researchers and faculties in Science and Technology in the state. To identify individuals with specific expertise, we recommend you contact our Business Lab
        +accordion("ch5", "ENGAGE WITH RESEARCH INSTITUTIONS")
          p RINK encourages Industries and Startups to support Research Institutions in carrying out cutting edge research in frontier technologies.RINK believes that such a Research Partnerships will ensure Academia- Industry Collaboration in a meaningful manner. This would help Researchers to carry out a suitable research with right inputs and thereby may make a worthy contribution to knowledge. Research Partnership will also provide faculty the opportunity to gain experience and knowledge of value to their teaching and research. RINK offers an extensive range of opportunity to Industries and Startups to partner with Research Institutions and Universities
          ul
            li Grand Challenges
            li Partnering in conducting innovations Innovation Competitions
            li Demo day
            li Host a demo of in Industry
            li facilities
            li Access to Facilities
            li Provide access to Industry
          p If you would like to know more, please do write to us at rink@startumission.in
        +accordion("ch6", "TALENT MANAGEMENT")
          p More than a thousand academically brilliant youngsters are carrying out research in science and Technology domains across various Research Institutions both national and State in the State of Kerala. Besides, Universities and other higher educational institutions in the state are preparing a vast population of students’ community to be the next generation of innovative leaders in all walks of society through their multidisciplinary training programmes. There are many opportunities for industries both small and large to engage with this talent pool. These include;
          ul
            li Internship
            li Placement
            li Student Sponsorship

  +pgs




        