extend layouts/default.pug

block head
  link(rel="stylesheet" href="./style/home.scss")

include layouts/partials/mixins.pug

block page
  #video-slider
    #ytbg(data-youtube='https://www.youtube.com/watch?v=qo_bis6qThg')
  //- section#header-section
  //-   .overlay
  //-   .info-container
  //-     h1 Research 
  //-     h1 Innovation 
  //-     h1 Network Kerala

  section.section-content
    .container 
      .row.align-items-center
        .col-sm-7.text-justify
          .subhead About RINK
          h2 Research Innovation Network Kerala
          p Over the year, Kerala has developed a network of scientific infrastructure with a host of dedicated institutions and a pool of scientific manpower. These institutions produce several innovations and inventions every year. Research Innovation Network-Kerala (RINK) aims to translate the research products into commercial ventures by connecting Research Institutions with Startups and Corporates.
          p RINK will operate actively to mould a culture of entrepreneurship thus delivering the best motivation for a larger circle of researchers. Utilizing the research potential of Kerala, RINK will provide an interdisciplinary workspace for research institutions from various industrial sectors.
          p RINK would enable Researchers and Innovators to explore opportunities available in the entrepreneurship space to take up their inventions to market place.
          p RINK is guided by the following objectives:
          ul
            li Facilitate collaborative partnership between Research Community and Industry
            li Promote Translational/Impactful Research
            li Encourage synergy between Startups and Researchers.

        .col-sm-5
          img.img-fluid(src="./images/side.png")

  
  section.section-content.alter
    .container 
      .row.align-items-center 
        .col-sm-5 
          img.img-fluid(src="./images/benefits.png")
        .col-sm-7
          h2.mb-3 Benefits
          +benefit("Focused on Innovation led economy", "With a network of Research Institutions, proactive government policies, specialized universities and availability of talents, Kerala intends to build an innovation led economy. Rink - Research Innovation Network aims to translate some of the pathbreaking innovative research knowledge happening in the research labs into commercially viable products and services and thereby spur economic growth.", "trending-up", "rd2", true)
          +benefit("Cross disciplinary excellence", "As one of the states having highest density of Research Institutions in India, Kerala have the potential to become the innovation capital of the country. Rink - Research Innovation Network brings together all leading Research Institutions and Industries into a common platform to address some of the larger societal challenges. Rink - Research Innovation Network provides opportunity to various stakeholders including Research Institutions from various industry segments to work together and thereby create inter disciplinary excellence.", "contract", "rd1")
          +benefit("Optimal Utilization of Resources", "Rink - Research Innovation Network, being a collaborative platform, encourages stakeholders to share their resources among the community and helps them to utilize resources effectively and efficiently.", "cog", "rd3")

  +pgs

  section.section-content 
    .container 
      h2.text-center Stakeholders
      .stakes
        .stake 
          ion-icon(name="library-outline")
          p R & D Institutions
        .stake 
          ion-icon(name="business-outline")
          p Corporates   
        .stake 
          ion-icon(name="cash-outline")
          p Investor
        .stake 
          ion-icon(name="ribbon-outline")
          p Academic Institutions
        .stake 
          ion-icon(name="rocket-outline")
          p Startups


block script 
  script(src="./script/youtube.js") 