extend layouts/default.pug

block head
  link(rel="stylesheet" href="./style/page.scss")

include layouts/partials/mixins.pug

block page
  section#header-section
    .overlay
    .info-container 
      h1 Program Structure

  section.section-content#innovationlab
    .container.text-justify
      h2 Innovation Labs
      .subhead Technology Commercialisation
      p RINK strives to help Researchers and innovators to connect with Startups, Corporates and Investors to develop new products, services and startup companies that have a transformative impact on society through sharing their innovative research findings.
      p RINK enables Research Institutions and Universities to commercialise technologies developed in their labs through a wide range of business services both online and offline including Outreach programmes, filing patents, managing trademarks and copyrights, connecting with Corporates and Startups etc.
      p RINK brings together all stakeholders including Industry, Community Partners, Researchers, Startups into a common platform and facilitates collaborative work to accelerate the process of technology commercialization.

      .subhead Technology Commercialisation @ glance
      p Kerala is blessed with the presence of some of the premier Research institutions in Agriculture, Rubber, Aerospace, Fisheries and Medical Technology.

      .subhead Available Technologies
      p We take effort to bring all innovations and ground breaking technologies from leading research institutions into RINK. You can login to view the same. Still not figured out the technology you needed? Please let us know the technology/ challenge you intend to address 'rink@startupmission.in'

      .subhead Licensing
      p You may first identify a desired technology from the innovation repository. That meets your company’s requirement. In case, you are finding it difficult to identify technology, you may contact us directly at 'rink@startupmission.in' and we will help you to identify a suitable technology. You may then need to sign a confidentiality agreement with Researcher/Innovator/Research Institution concerned. Once the agreement is done, you may update the same on RINK Portal.

  
  +pgs

        