extend layouts/default.pug

block head
  link(rel="stylesheet" href="./style/page.scss")

include layouts/partials/mixins.pug

block page
  section#header-section
    .overlay
    .info-container 
      h1 Program Structure

  section.section-content.alter#investmentcorridor
    .container.text-justify 
      h2 Investment Corridor
      p RINK provides a platform for Researchers, Startups and Innovators to connect with Angel Investors, established venture capitals and other funding agencies to get funding support for their ventures. RINK offers the following funding tools and Services.
      ul 
        li GRANTS
        li SEED FUNDS
        li EQUITY FUNDS
        li CSR FUNDS
        li FUND OF FUNDS
        li OTHER FUNDS

  +pgs
        