extend layouts/default.pug

block head
  link(rel="stylesheet" href="./style/page.scss")

include layouts/partials/mixins.pug

block page
  section#header-section
    .overlay
    .info-container 
      h1 Program Structure

  
  section.section-content.alter#startupstudio
    .container.text-justify 
      h2 Startup Studio
      p RINK enables Researchers and innovators to set up their own ventures and grow successful businesses through an unique programme “STARTUP STUDIO”. Innovators, Researchers and Startup who are onboarded on RINK Platform will have access to the following set of tools and services.

      .grid
        .item
          h4 STARTUP BOOTCAMP 
          p Opportunity to attend Startup bootcamps
        .item
          h4 BUSINESS INCUBATION AND ACCELERATION 
          p Opportunity to enroll with approved Business Incubation and acceleration
        .item
          h4 ACCESS TO FACILITIES 
          p Access to Research and development state of the art facilities
        .item
          h4 MENTOR ACCESS 
          p Access to a pool of experienced professionals and industry leaders

        .item
          h4 PATENT SUPPORT 
          p Opportunity to avail support to file patent and Reimbursement of Patent expenses.
        .item
          h4 GRANT WORKSHOP 
          p DST/International Grant writing workshops
        .item
          h4 PITCH COACHING 
          p Coaching for investor pitching and business presentations
        .item
          h4 INVESTOR CAFE 
          p Opportunity to pitch before Investors and get funds.
        
        
        

      .subhead Business Incubators
      p Kerala Incubator Network Programme provides access to business incubators in the State. KIN Programme provides RINK affiliated Researchers and startups with access to affordable office/ lab spaces in close proximity to their campuses.
      
      .subhead STARTUP Companies
      p Kerala Startup Mission is known for its leadership in startup ecosystem building. Its activities have led the creation of startup companies that have larger impact on society.

    
  +pgs