<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Research Innovation Network Kerala | Kerala Startup Mission

    link(rel='apple-touch-icon' sizes='57x57' href='./fav/apple-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='60x60' href='./fav/apple-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='./fav/apple-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='76x76' href='./fav/apple-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='114x114' href='./fav/apple-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='120x120' href='./fav/apple-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='144x144' href='./fav/apple-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='152x152' href='./fav/apple-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='./fav/apple-icon-180x180.png')
    link(rel='icon' type='image/png' sizes='192x192' href='./fav/android-icon-192x192.png')
    link(rel='icon' type='image/png' sizes='32x32' href='./fav/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='96x96' href='./fav/favicon-96x96.png')
    link(rel='icon' type='image/png' sizes='16x16' href='./fav/favicon-16x16.png')
    link(rel='manifest' href='./manifest.webmanifest')
    meta(name='msapplication-TileColor' content='#2a0845')
    meta(name='msapplication-TileImage' content='./fav/ms-icon-144x144.png')
    meta(name='theme-color' content='#2a0845')

    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black')
    meta(name='apple-mobile-web-app-title' content='Kerala Startup Mission')
    link(rel='apple-touch-icon' href='./fav/apple-icon-152x152.png')

    link(rel="stylesheet", href="./style/main.scss")
    link(rel="stylesheet", href="./style/navbar.scss")
    block head
    
  body
    include partials/aside.pug
    block page

    footer
      #ksum-footer
        .left
          a(href="https://startupmission.kerala.gov.in" target="_blank")
            img.img-fluid(src="./images/logo-white.svg")
          p G3B, Thejaswini, Technopark Campus
          p Kariyavattom, Trivandrum, Kerala 695581

        .right.text-center
          img.img-fluid.w-50.mb-3(src="./images/rink-logo-white.png")
          p Contact: +91 96332 45595
          p Email: rink@startupmission.in

      #ksum-copy
        | Copyright © 2021 Kerala Startup Mission. All Rights Reserved.

    script(src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js" type="module") 
    script(nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js")

    block script